<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--suppress HibernateConfigDomInspection -->
        <property name="hibernate.dialect">${db.hibernate.sql.dialect}</property>
        <!--suppress HibernateConfigDomInspection -->
        <property name="hibernate.connection.driver_class">${db.driver}</property>
        <property name="hibernate.connection.url">${db.url}</property>
        <property name="hibernate.connection.username">${db.username}</property>
        <property name="hibernate.connection.password">${db.password}</property>

        <!-- List of Annotations-mapping classes -->
        <mapping class="carstore.model.Age"/>
        <mapping class="carstore.model.Body"/>
        <mapping class="carstore.model.Car"/>
        <mapping class="carstore.model.Chassis"/>
        <mapping class="carstore.model.Engine"/>
        <mapping class="carstore.model.Mark"/>

        <mapping class="carstore.experiments.Image"/>

    </session-factory>
</hibernate-configuration>