<script>
    const defaultCarImage = 'item-default-image.jpg';
    const carEditPage = 'editCar';

    /**
     * Item - main item to sale.
     */
    class Item {
        /** Store id */
        carId;
        /** Title */
        title;
        /** Price */
        price;
        /** Seller */
        seller;
        /** Contacts */
        contacts;
        /** Descriptions */
        descriptions;
        /** Ids of images for this item */
        imageIds;

        // /**
        //  * Constructs new car object.
        //  * @param {number} storeId
        //  * @param {string} title
        //  * @param {number} price
        //  * @param descriptions
        //  * @param imagesIds
        //  */
        // constructor(storeId, title, price, seller, contect, descriptions, imagesIds) {
        //     this.carId = storeId;
        //     this.title = title;
        //     this.price = price;
        //     this.seller = seller;
        //     this.contacts = contect
        //     this.descriptions = descriptions;
        //     this.imagesIds = imagesIds;
        // }

        /**
         * Formats item to html.
         * @return {string} html value
         */
        toHtml() {
            let res = '<div class="item-div">';
            res += '<div class="item-image-div">'
                + '<img class="item-image-img"'
                + ` src="${this.imageIds.length > 0 ? `image?id=${this.imageIds[0]}` : defaultCarImage}"`
                + ` alt="${this.title}">`
                + '</div>';
            // res += `<a class="item-link" href="${carEditPage}?storeId=${this.carId}"><div>`;
            res += `<p class="item-title" >${this.title}</p>`;
            res += `<p class="item-price" >${this.price}</p>`;
            // res += '</div></a>';
            for (const [key, value] of Object.entries(this.descriptions)) {
                res += '<p class="item-description-text">'
                    + `<span class = "item-description-title" >${key}: </span> ${value}`
                    + '</p>';
            }
            res += `<p class="item-seller">${this.seller}. ${this.contacts}</p>`;
            res += '</div>';
            return res;
        }
    }
</script>

<style>
    .item-div {
        margin: 15px auto;
        max-width: 300px;
    }

    .item-link {
        color: black;
    }

    .item-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
    }

    .item-price {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
    }

    .item-seller {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1em;
        text-align: center;
        color: #322dff
    }

    .item-description-title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
    }

    .item-description-text {
        margin-top: 0;
        margin-bottom: 0;
    }

    .item-image-div {
        height: 100px;
        text-align: center;
        margin: 15px;
    }

    .item-image-img {
        height: 100%;
        width: auto;
    }
</style>
