<script>
    const defaultCarImage = 'item-default-image.jpg';
    const carEditPage = 'editCar';

    /**
     * Item - main item to sale.
     */
    class Item {
        /** Store id */
        storeId;
        /** Title */
        title;
        /** Price */
        price;
        /** Descriptions */
        descriptions;
        /** Ids of images for this item */
        imagesIds;

        /**
         * Constructs new car object.
         * @param {number} storeId
         * @param {string} title
         * @param {number} price
         * @param descriptions
         * @param imagesIds
         */
        constructor(storeId, title, price, descriptions, imagesIds) {
            this.storeId = storeId;
            this.title = title;
            this.price = price;
            this.descriptions = descriptions;
            this.imagesIds = imagesIds;
        }

        /**
         * Formats item to html.
         * @return {string} html value
         */
        toHtml() {
            let res = '<div class="item-div">';
            res += '<div class="item-image-div">'
                + '<img class="item-image-img"'
                + ` src="${this.imagesIds.length > 0 ? `image?id=${this.imagesIds[0]}` : defaultCarImage}"`
                + ` alt="${this.title}">`
                + '</div>';
            res += `<a class="item-link" href="${carEditPage}?id=${this.storeId}"><div>`;
            res += `<p class="item-title" >${this.title}</p>`
                + `<p class="item-price" >${this.price.toLocaleString()}</p>`;
            res += '</div></a>';
            for (const [key, value] of Object.entries(this.descriptions)) {
                res += '<p class="item-description-text">'
                    + `<span class = "item-description-title" >${key}: </span> ${value}`
                    + '</p>';
            }
            res += '</div>'
            return res;
        }
    }
</script>

<style>
    .item-div {
        margin: 15px auto;
        max-width: 300px;
    }

    .item-link {
        color: black;
    }

    .item-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
    }

    .item-price {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
    }

    .item-description-title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
    }

    .item-description-text {
        margin-top: 0;
        margin-bottom: 0;
    }

    .item-image-div {
        height: 100px;
        text-align: center;
        margin: 15px;
    }

    .item-image-img {
        height: 100%;
        width: auto;
    }
</style>
